/**
 * qdadm - Styles entry point
 *
 * Import this file in your main.js:
 *   import 'qdadm/styles'
 */

/* Main styles */
@import './main.css';

/* Component-specific styles */
@import './_alerts.css';
@import './_code.css';
@import './_dialogs.css';
@import './_markdown.css';
@import './_show-pages.css';
